:root {
  --font-family: "Hind Vadodara", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --primary-btn: #f78434;
  --primary-btn-hover: #ff6a00;
 
  // Пагинация свайпера
  --swiper-pagination-color:#020202;
  --swiper-pagination-bullet-border-radius: 5px;
  --swiper-pagination-bullet-horizontal-gap:10px;
  --swiper-pagination-bullet-opacity:1;
  --swiper-pagination-bullet-inactive-opacity:0.3;
}